body {
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    background-color: rgb(230, 193, 147);
}

canvas {
    align-self: center;
    border: 2px solid #aaa;  
}

img {
    display: none;
    position: relative;   
}


#searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    gap: 1vw;
}

#search{
    background-color: rgb(253, 232, 222);
    border: solid 2px rgb(207, 181, 122);
    border-radius: 3px;
    font-size: 1em;
    padding-top: 1.5vh;
    color: rgb(120, 19, 19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    width: 59vw;
}
#search:focus{
    outline: none;
}
#searchButton{
        width:25vw;
        float: inline-end;
        background-color: rgb(120, 19, 19);
        padding-top: 1vh;
        padding-bottom: 1vh;
        border: none;
        border-radius: 3px;
        color: rgb(240, 216, 187);
        font-size: 1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        cursor: pointer;
}

#popUp{
    display: none;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 3px solid rgb(120, 19, 19);
    background-color: rgb(253, 232, 222);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5vw rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 80vw;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}

#popUp div{
    color: rgb(120, 19, 19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popUp div button{
    margin: 0;
    background-color: rgb(120, 19, 19);
    color: rgb(240, 216, 187);
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

#popUp img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#Details {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 10px;
}

hr{
    width: 100%; 
    height: 1.5px; 
    background-color: rgb(120, 19, 19);
}

.floor{
    border-radius: 5px;
    padding: 15px;
    border: none;
    background-color: rgb(230, 193, 147);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.rooms {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.room {
    padding: 5px;
}

