
    #menu{
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        background-color: rgb(120, 19, 19);
        color: rgb(240, 216, 187);
        display: flex;
        padding: 0.5vh;
        padding-bottom: 0.5vh; /*This one 1.5 */
        justify-content: space-between;
        flex-direction: column;
        z-index: 1;
    }

    #menu a{
        display: none; /*toggle to block*/
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 5vh;
        color: rgb(240, 216, 187);
        text-decoration: none;
        align-self: center;
        text-align: center;
        z-index: 2;
    }
    /* #menu a:last-of-type {
        margin-bottom: 100%;
    } */
    #menu a:hover{
        color: rgb(120, 19, 19);
        background-color: rgb(240, 216, 187);
    }
    #menu p:last-of-type{
        padding-bottom: 0vh; /*45*/
    }

    #menu #Title{
        font-size: 1.05em;
        font-weight: bold;
        align-self: center;
    }
    #sidebar{
        position: absolute;
        top: 1.25vh;
        right: 1.25vh;
        width:1.5em;
        background-color: rgb(120, 19, 19);
        border: none;
        color: rgb(240, 216, 187);
        text-align: center;
        font-size: 3vh;
        z-index: 5;
    }

        
    #menu.open {
        padding-bottom: 1.5vh;
    }
    #menu.open #Title {
        padding-bottom: 45vh;
    }
    #menu.open a {
        display: block;
        animation: slideIn 0.5s ease forwards;
        -webkit-animation: slideIn 0.5s ease forwards;
    }

    

    #menu.open a:last-of-type {
        margin-bottom: 100%;
    }




    @keyframes slideIn {
        from {
            opacity: 0%;
            transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
}
        to {
            opacity: 100%;
            transform: translateY(0);
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
}
    }
    
    #sidebar:hover{
        cursor: pointer;
}
