@media screen and (max-width: 600px){
    body{
        margin: auto;
        background-color: rgb(230, 193, 147);
        overflow: hidden;
    }


    
    h3{
        margin-top: 10vh;
        color: rgb(120, 19, 19);
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5em;
        font-weight: bold;
        padding: 5vh;
        z-index: 1;
    }
    #search{
        width: calc(100vw - 10vh);
        margin: 5vh;
        background-color: rgb(230, 193, 147);
        border: none;
        border-bottom: 3px solid rgb(120, 19, 19);
        font-size: 1.5em;
        color: rgb(120, 19, 19);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #search::placeholder{
        color: rgba(120, 19, 19,0.75);
        font-style: italic;
    }
    #search:focus{
        outline: none;
        border-bottom: 3px solid rgb(120, 19, 19);
    }
    #searchButton{
        width: calc(100vw - 50vw);
        float: right;
        margin: 5vh;
        padding: 3vh;
        background-color: rgb(120, 19, 19);
        border: none;
        border-radius: 5vw;
        color: rgb(240, 216, 187);
        font-size: 1.5em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        -webkit-border-radius: 5vw;
        -moz-border-radius: 5vw;
        -ms-border-radius: 5vw;
        -o-border-radius: 5vw;
    }

    
}


/* Large Screen */
@media screen and (min-width: 600px) {
    body{
        margin: auto;
        background-color: rgb(230, 193, 147);
    }

    #menu{
        margin: auto;
        background-color: rgb(120, 19, 19);
        color: rgb(240, 216, 187);
        display: flex;
        padding: 0.05vh;
        padding-left: 5vw;
        justify-content: space-between;
        position: sticky;
    }

    #menu a{
        display: block;
        padding-left: 5vw;
        padding-right: 5vw;
        color: rgb(240, 216, 187);
        text-decoration: none;
        align-self: center;
    }
    #menu a:hover{
        color: rgb(120, 19, 19);
        background-color: rgb(240, 216, 187);
    }

    #menu #Title{
        font-size: 1.05em;
        font-weight: bold;
    }

    #sidebar{
        display: none;
    }

    
}