:root{
    scroll-behavior: smooth;

    /* Colors: Light Mode */
    --bg-color: #B8CFCE;
    --card-bg: #EAEFEF;
    --text-color: #333446;
    --accent-color: #7F8CAA;
}

[data-theme="dark"]{
    --bg-color: #44444E;
    --card-bg: #715A5A;
    --text-color: #D9CFC7;
    --accent-color: #37353E;
}

*{
    transition: 0.5s ease-in-out;
    font-family: monospace;
}
body{
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}
#title-bar{
    background-color: var(--accent-color);
    color: var(--text-color);
    text-align: center;
    padding: 5vh;
    h1{
        background-color: var(--accent-color);
    }
    button{
        position: absolute;
        top: 1vh;
        right: 2vw;
        background-color: rgba(255, 255, 255, 0.25);
        border: 1px solid var(--text-color);
        color: var(--text-color);
        border-radius: 10px;
        padding: 0.5vh 1vw;
    }
    button:hover{
        background-color: var(--text-color);
        color: var(--bg-color);
    }
}
#nav-bar{
    display: flex;
    justify-content: center;
    background-color: var(--text-color);
    a{
        padding: 2vh 2vh;
        text-decoration: none;
        color: var(--bg-color);
        border-radius: 15px;
        margin: 1vh;
    }
}
.cards{
    position: relative;
    background-color: var(--card-bg);
    margin: 2vh 5vw;
    padding: 2vh 5vw;
    border-radius: 10px;
    h2{
        text-align: center;
        color: var(--accent-color);
    }
}
#skills{
    text-align: center;
    .skills-cards{
        margin: 5px;
        background-color: var(--bg-color);
        padding: 2vh;
        border: 2px solid var(--accent-color);
        border-radius: 10px;
        justify-items: center;
        display: inline-block;
        width: 15vw;
        height: 15vh;
        
        .progress-bar{
            width: 100%;
            height: 5%;
            background-color: var(--card-bg);
            border-radius: 25px;
        }
        .prog-indic{
            height: 100%;
            border-radius: 25px;
            background-image: linear-gradient(to right, var(--text-color), var(--accent-color));
        }
    }
}

#projects{
    text-align: center;
    padding-bottom: 5vh;
    .project-cards{
        background-color: var(--bg-color);
        border: 2px solid var(--accent-color);
        border-radius: 15px;
        width: 20vw;
        padding-bottom: 20px;
        text-align: left;
        display: inline-block;
        vertical-align: top;
        h3{
            color: var(--text-color);
        }
        p, h3, button{
            margin-left: 1vw;
            margin-right: 1vw;
        }
        .grad{
            height: 15vh;
            background-image: linear-gradient(to top,var(--bg-color), var(--accent-color));
            display: flex;
            justify-content: center;
            align-items: center;
            font-size:3em;
            border-radius: 8px 8px 0px 0px;
        }
        button{
            background-color: var(--card-bg);
            color: var(--text-color);
            border: 1px solid var(--accent-color);
            border-radius: 5px;
            padding: 3px 10px;
        }
        .proj-details{
            color: var(--text-color);
            font-size: 0;
        }
    }
}
#contact{
    text-align: center;
    li{
        display: inline-block;
        padding: 2px 2vw;

        a{
            color: var(--accent-color);
            text-decoration: none;
        }
        a:hover{
                text-decoration: underline;
        }
    }
}

#footer{
    background-color: var(--text-color);
    color: var(--bg-color);
    text-align: center;
    padding: 0.5vw;
}


#nav-bar a:hover{
    background-color: var(--card-bg);
    color: var(--text-color);
}

.skills-cards:hover{
    transform: translate(0px, -10px)
}

.project-cards:hover{
    transform: scale(1.05);
}